<div  class="modalAddContact" >
    <form name="editContactForm"  ng-submit="ok(contact)">
        <div class="modal-header bg-primary">
            <h3><span class="glyphicon glyphicon-user"></span> {{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="addContactInputName"><span class="required">*</span> Name</label>
                <input id="addContactInputName" type="text" name="name" class="form-control" placeholder="Name" ng-model="contact.name" required>
            </div>
            <div class="form-group">
                <label for="addContactInputPhone">Phone</label>
                <input id="addContactInputPhone" type="text" name="phone" class="form-control" placeholder="Phone" ng-model="contact.phone" required>
            </div> 
            <div class="form-group">
                <label for="addContactInputAddress">Address</label>
                <input id="addContactInputAddress" type="text" name="address" class="form-control" placeholder="Address" ng-model="contact.address" required>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>